
h1 {
font-family: helvetica, arial, sans-serif;
}

.logo{
width: 23%;
padding: 1%;
text-align: center;
background-image: url("../images/logo.png");
}

.nav{
background-color:black;
color: white;
}

.nav li{
width: 50%;
display: inline-block;
padding:20px 40px;
}

.ul{
    margin-left: auto;
}

.hero{
height: 400px;
padding: 25px;
background-color: black;
background-image: url("../images/gradient1.jpg");
height: 200px;
width: 100%;
padding: 1%;
display: inline-block;
background-color: grey;
color: white;
font-size: small;
padding: 8px;
}

.herocontent{
width: 500px;
margin: 0 auto;
}

/* My UX Skills section coded using CSS flex */

.flexContainer{
display: flex;
flex-direction: row;
background-color: skyblue;
}

.skill{
width: 33%;
margin: 0 auto;
padding: 15px;
}

/* My Work Section Constructed using CSS Grid */

.workGrid{
display: grid;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr;
grid-template-areas: 
"CaseStudy1 GovernmentWebsiteRedesign"
"NonProfitWebsiteRedesign CaseStudy2"
"CaseStudy3 FinalProject";
}

@media only screen and (max-width: 600){
flex-direction: column;
width: 100%;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-columns: 1fr;
grid-template-areas:
"CaseStudy1"
"GovernmentWebsiteRedesign"
"NonProfitWebsiteRedesign"
"CaseStudy2"
"CaseStudy3"
"FinalProject";
}


.footer{
background-color: #373738;
}

.footer ul{
padding: 25px;
display: inline-block;
}

.footer li{
padding: 4px;
}
